.navbar {
  display: flex;
  align-items: center;
  background-color: #9B6A6C;
  text-align: center;
  width:105%;
  flex-wrap: wrap;
  justify-content: start;
  padding: 30px;
  position: fixed;
  top: 0px;
}

.navbar a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 70px;
  text-align: center;
  transition: 1s;
  display: block;
  padding: 8px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
    
    
.navbar li {
      float: left;
     }

.banner img {
  width: 105%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold; 
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

p {
  text-align: center;
}

.AcademicsContent {
  margin:3rem;
  background-color: rgb(255, 253, 215);
}
.card_1 {
  width: 100%;
  font-family: 'Smooch Sans', sans-serif;
  color: rgb(52, 59, 71);
  background-color: antiquewhite;
  padding: 0.7rem;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(116,27,2);
  border-radius: 1rem;
  font-size: 1.2rem;
}

.card_1 h1 {
  font-size: 1.6rem;
  text-align: center;
  color: rgb(116,27,71);
}

.gallery_1 img {
  width: 100%;
}

.gallery_1 {
  padding: 4rem;
  display: grid;
  grid-template-columns:auto auto auto;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: space-between;
}

.order p {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: 'Smooch Sans', sans-serif;
  color: rgb(52, 59, 71);
}

.academics h1 {
  margin: 9rem 0 0 0;
  color: rgb(116,27,71);
  font-family: 'Smooch Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

.subtitle {
  color: rgb(116,27,71);
  font-family: 'Smooch Sans', sans-serif;
  text-align: center;
}

