.navbar {
  display: flex;
  align-items: center;
  background-color: #9B6A6C;
  text-align: center;
  width:100%;
  flex-wrap: wrap;
  justify-content: start;
  padding: 30px;
  position: fixed;
  top: 0px;
}

.navbar a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  display: block;
}

.banner {
  width: 100%;
}
