.navbar {
  display: flex;
  align-items: center;
  background-color: #9B6A6C;
  text-align: center;
  width:100%;
  flex-wrap: wrap;
  justify-content: start;
  padding: 30px;
  position: fixed;
  top: 0px;
}

.navbar a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 70px;
  text-align: center;
  transition: 1s;
  display: block;
  padding: 8px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
    
    
.navbar li {
      float: left;
     }

.banner img {
  width: 100%;
}
