.navbar {
  display: flex;
  align-items: center;
  background-color: #9B6A6C;
  text-align: center;
  width:105%;
  flex-wrap: wrap;
  justify-content: start;
  padding: 30px;
  position: fixed;
  top: 0px;
}

.navbar a {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 70px;
  text-align: center;
  transition: 1s;
  display: block;
  padding: 8px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
    
    
.navbar li {
      float: left;
     }

.banner img {
  width: 105%;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold; 
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
  
.intro {
  left-margin:5px;
  padding: 0px;
}
img {
  float: left;
  width: 50%;
  height: auto;
}
